.container
  =render partial: "shared/navbar_ui"
  .row
    .col-md-12
      %h2
        @user.username
  .row
    .col-md-3
      %ul
        %li Real name: Hanna Bates

        %li Email: Hanna Bates

        %li  Website: Hanna Bates
     %hr
  .row
    .col-md-6 
      %h2 "#{@user.questions.size}" Questions  
      %ul
        - @user.questions.each do |question|
        %li
          = question.title
    .col-md-6 
      %h2 20 Answer  
      %ul
        %li
          Whats the right syntax to define and object in C#
        %li
          Lorem fasjfhas fkjhf askhf sahfashf asjfhaskjfhksahfkashf?
        %li
          Lorem fasjfhas fkjhf askhf sahfashf asjfhaskjfhksahfu
  = render partial: 'shared/footer'
