.col-xs-10.col-xs-offset-1
  %nav.navbar.navbar-default
    .container-fluid
      / Brand and toggle get grouped for better mobile display
      .navbar-header
        %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{:href => "#"} 
          %span#q> Q
          %span#o> overflow
      / Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        = link_to new_question_path, class: 'navbar-right' do
          %button.btn.btn-danger.navbar-btn{:type => "button"} 
            %i.fa.fa-pencil-square-o
            %span.add-question Add Question
        %ul.nav.navbar-nav.navbar-right
          %li
            = link_to 'All Questions', questions_path, id:'all-questions'
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              = current_user.username 
              %span.caret
            %ul.dropdown-menu{:role => "menu"}
              %li
                = link_to 'Logout', logout_path 
