.container
  = render partial: 'shared/navbar_ui'

  %h2 Recent questions
  %hr
  .row
    .col-md-2 
      .well.col-md-0.text-center
        %i.fa.fa-arrow-up
        %br
        %span 4 votes
        %br
        %i.fa.fa-arrow-down
    .col-md-10 
      %h2 Some random questiion 1
      .user-details.text-center
        %p Aug 17'11 at 11:30
        %p by Hanna Bates 
  %hr
  .row
    .col-md-2 
      .well.col-md-0.text-center
        %i.fa.fa-arrow-up
        %br
        %span 4 votes
        %br
        %i.fa.fa-arrow-down
    .col-md-10 
      %h2 Some random questiion 1 what happens if the questions title gets really realllllly long lerolero lelr
      .user-details.text-center
        %p Aug 17'11 at 11:30
        %p by Hanna Bates  
  %hr
  .row
    .col-md-2 
      .well.col-md-0.text-center
        %i.fa.fa-arrow-up
        %br
        %span 4 votes
        %br
        %i.fa.fa-arrow-down
    .col-md-10 
      %h2 Some random questiion 1
      .user-details.text-center
        %p Aug 17'11 at 11:30
        %p by Hanna Bates
  = render partial: 'shared/footer'
