.container
  =render partial: "shared/navbar_ui"
  .row
    .col-md-12
      %h1.text-center What's your question?

  %form.form-horizontal.form-margin
    .form-group
      %label.col-sm-2.col-sm-offset-1.control-label{:for => "title"} Title
      .col-sm-6
        %input#title.form-control{:placeholder => "Enter question title", :type => "text"}/ 
    .form-group
      %label.col-sm-2.col-sm-offset-1.control-label{:for => "description"} Description
      .col-sm-6
        %textarea#description.form-control{:placeholder => "Enter Description", :rows => "9"}
    .form-group
      %label.col-sm-2.col-sm-offset-1.control-label{:for => "category"} Category 
      .col-sm-6
        %select#category.form-control
          %option Suspense 
          %option Rcok
          %option yuca 
          %option papa
    .form-group
      .col-sm-offset-3.col-sm-6
        %button.btn.btn-info{:type => "submit"} Post!
  =render 'shared/footer' 
