.container
  =render partial: "shared/navbar_ui"
  .row
    .col-md-12
      %h2 Hanna Bates
  .row
    .col-md-3
      %ul
        %li Real name: Hanna Bates

        %li Email: Hanna Bates

        %li  Website: Hanna Bates
    .col-md-9
      %p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.  
  %hr
  .row
    .col-md-6 
      %h2 20 Questions  
      %ul
        %li
          Whats the right syntax to define and object in C#
        %li
          Lorem fasjfhas fkjhf askhf sahfashf asjfhaskjfhksahfkashf?
        %li
          Lorem fasjfhas fkjhf askhf sahfashf asjfhaskjfhksahfkashf?  aj
    .col-md-6 
      %h2 20 Answer  
      %ul
        %li
          Whats the right syntax to define and object in C#
        %li
          Lorem fasjfhas fkjhf askhf sahfashf asjfhaskjfhksahfkashf?
        %li
          Lorem fasjfhas fkjhf askhf sahfashf asjfhaskjfhksahfu
  = render partial: 'shared/footer'
