/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";

/* General style*/

.title{
  font-weight: bold;  
}

.upvote{
  font-size: 8px;
  font-weight: bold; 
  background-color: #85ADFF;
  border: 1px #707070 solid;
}

a:hover{
  text-decoration: none;
}

.downvote{
  color:#999; 
  margin-left: 10px;
}

/*styles for the sign in page*/
 
body{
  font-family: Helvetica; 
  color: black; 
}

.sign-up{
  border-right: 1px solid #eaeaea;
  padding-right: 10%;
}

#session{
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  width: 50%;
  height: 60%;
  padding:0;
}

.footprint a:hover {
  color: #222;
}

.footprint small {
  float: left;
}

.footprint ul {
  float: right;
  list-style: none;
  margin-right: 10%; 
}

.footprint ul li {
  float: left;
  margin-left: 15px; 
}

/* Nav bar styles*/

.navbar-default {
    background-color: white;
    border-color: white;
}

#q{
  font-size: 2em;
  color: #a20;
  font-weight: bold;
  font-family: Helvetica Neue;
}

#o{
  font-size: 1.5em;
  color: black;
  font-weight: bold;
  font-family: Helvetica;
}

#username-navbar{
   font-size: 1.2em;  
   font-weight: bold;
   color: black;
}

.navbar-btn{
  border-radius: 3px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

/* Show question page styles*/
$upvote-color: blue;



.contributor-name{
  font-weight: bold; 
}
.question-separation{
  border-top: 2px solid #eeeeee;
}



/* Fotter styles*/

footer {
  margin-top: 5%;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* New questions page styles*/
.form-margin{
    margin-top: 5%;
}

