/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";

/*styles for the sign in page*/
.sign-up{
  border-right: 1px solid #eaeaea;
  padding-right: 10%;
}

#session{
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  width: 50%;
  height: 60%;
  padding:0;
}

.footprint a:hover {
  color: #222;
}

.footprint small {
  float: left;
}

.footprint ul {
  float: right;
  list-style: none;
  margin-right: 10%; 
}

.footprint ul li {
  float: left;
  margin-left: 15px; 
}

/* Nav bar styles*/

.navbar-default {
    background-color: white;
    border-color: white;
}

/* Show question page styles*/
$upvote-color: blue;

.upvote{
  font-size: 8px;
  font-weight: bold; 
  border-color: $upvote-color; 
}

.contributor-name{
  font-weight: bold; 
}
.question-separation{
  border-top: 2px solid #eeeeee;
}

.downvote{
  margin-left: 10px;
}

/* Fotter styles*/

footer {
  margin-top: 5%;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* New questions page styles*/
.form-margin{
    margin-top: 5%;
}

